@font-face {
  font-family: 'Lincoln';
  src: url('../font/LincolnElectric-Regular.ttf') format('truetype-variations');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Fredoka';
  src: url('../font/FredokaOne-Regular.ttf') format('truetype-variations');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Signate';
  src: url('../font/signategrotesk-black.ttf') format('truetype-variations');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Flame';
  src: url('../font/Flame-Regular.otf') format('truetype-variations');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Accid';
  src: url('../font/accid___\(Ru\)_0.ttf') format('truetype-variations');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Shorai';
  src: url('../font/ShoraiSansStdNVar.ttf') format('truetype-variations');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Duepun';
  src: url('../font/Duepuntozero\ Pro\ Regular.otf') format('opentype');
  font-weight: 1 999;
}
